<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoDiscovery</key>
	<false/>
	<key>CalendarProxySupport</key>
	<false/>
	<key>CalendarServerPrivateEventsSupport</key>
	<false/>
	<key>Color</key>
	<string>#808080FF</string>
	<key>Delegate</key>
	<false/>
	<key>Enabled</key>
	<true/>
	<key>Expanded</key>
	<true/>
	<key>InboxAvailabilitySupport</key>
	<false/>
	<key>KeepOffline</key>
	<false/>
	<key>Kerberos</key>
	<false/>
	<key>Order</key>
	<integer>6</integer>
	<key>RefreshInterval</key>
	<integer>300</integer>
	<key>Type</key>
	<string>CalDAV</string>
</dict>
</plist>
